.qj-cashback-page {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;

  .page-container {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
  }

  .head-img-wrapper {
    width: 100%;
    display: block;
  }

  .cashback-wrapper {
    width: 100%;
    padding: 0 24px 40px;
    box-sizing: border-box;
  }
}
