.mf-act-header {
  position: relative;
  width: 100%;

  &__bg {
    display: block;
    width: 100%;
  }

  &__rule-btn {
    position: absolute;
    top: 13px;
    right: 0;
    width: 33.5px;
    height: 20px;
    cursor: pointer;
  }
}
