.countdown {
  height: 22.5px;
  position: absolute;
  right: 12px;
  top: 0;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  color: #000;
}

.digit {
  background-color: #000;
  color: #fff;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 4.5px;
  line-height: 18px;
  text-align: center;
  margin: 0 2px;
}
