.mf-assets-count-down {
    position: absolute;
    z-index: 9;
    top: 170px;
    left: 50%;
    border-radius: 20px;
    .count-down__text {
        padding: 0 20px;
        height: 26px;
        font-size: 13.5px;
        line-height: 26px;
        white-space: nowrap;
    }
}