.main-banner {
  height: 97px;
  width: 100%;
  border-radius: 13.5px 13.5px 0 0;
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-banner-item {
  position: relative;
  flex: 1;
  padding-top: 9px;
  box-sizing: border-box;
  font-size: 0px;
  height: calc(100% + 2px);
  &:last-child {
    border-right: 0;
  }
}
.item-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.item-text-active {
  color: #ff001d !important;
}
.item-text-end {
  color: #d6b7a0 !important;
}
.item-content-time {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 18px;
}
.content-time-title {
  font-family: 'PingFangSC-Medium';
  font-size: 12px;
  color: #aa6421;
  letter-spacing: 0;
  text-align: center;
  font-weight: 500;
  flex-grow: 1;
}
.content-time-icon {
  width: 27px;
  height: 18px;
}
.content-time-icon-small {
  width: 22px;
  height: 15px;
}
.item-content-award {
  line-height: 27px;
  height: 27px;
  padding: 1px 0px;
  font-family: 'DINAlternate-Bold';
  font-size: 23px;
  text-align: center;
  color: #ab5808;
  font-weight: 700;
  letter-spacing: 0;
}
.item-content-status {
  width: 48px;
  height: 15px;
}
.check-icon {
  z-index: 1;
  width: 37.5px;
  height: 16px;
  display: block;
  margin: 1px auto 0px auto;
  img {
    width: 100%;
    height: 100%;
  }
}
.item-line {
  display: flex;
  margin-top: 15px;
  position: absolute;
  left: -1px;
  top: 0;
}
.item-line-left {
  width: 1px;
  height: 50px;
  background-color: #eca05b;
}
.item-line-right {
  width: 1px;
  height: 50px;
  background-color: #fffdd0;
}
